<br />
<br />
<br />
<div class="jumbotron">
  <h1>Attribute Binding</h1>
  <p>Enlazar un attributo HTML con una variable del componente.</p>
</div>
<img [attr.src]="imageLink" [attr.title]="title" [attr.width]="width"/>
<br>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th [attr.colspan]="colSpan">Full Header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 - Column 1 </td>
            <td>Row 1 - Column 2 </td>
        </tr>
        <tr>
            <td>Row 2 - Column 1 </td>
            <td>Row 2 - Column 2 </td>
        </tr>
    </tbody>
</table>
