<ul class="nav nav-sidebar">
  <li>
    <a routerLink="">Bienvenidos</a>
    <a routerLink="/data-handled-and-events">Manejo de datos y eventos</a>
    <a routerLink="/building-reusable-components">Construir componentes reutilizables</a>
    <a routerLink="/directives">Directives</a>

   <!--  <ul class="nav nav-sidebar collapsable">
      <li><a routerLink="/property-binding" routerLinkActive="active">Property Binding</a></li>
      <li><a routerLink="/attribute-binding" routerLinkActive="active">Attribute Binding</a></li>
      <li><a routerLink="/class-binding" routerLinkActive="active">Class Binding</a></li>
      <li><a routerLink="/style-binding" routerLinkActive="active">Style Binding</a></li>
      <li><a routerLink="/event-binding" routerLinkActive="active">Event Binding</a></li>
      <li><a routerLink="/event-filtering" routerLinkActive="active">Event Filtering</a></li>
      <li><a routerLink="/template-variables" routerLinkActive="active">Template Variables</a></li>
      <li><a routerLink="/two-way-binding" routerLinkActive="active">Two-way Binding</a></li>
      <li><a routerLink="/pipes" routerLinkActive="active">Pipes</a></li>
      <li><a routerLink="/custom-pipes" routerLinkActive="active">Custom Pipes</a></li>
    </ul> -->
  </li>
</ul>