<div id="top"></div>
<br>
<br>
<br>
<div class="jumbotron">
    <h1>Directives</h1>
    <p>En esta seccion veremos algunas directivas de Angular.</p>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Conceptos</h1>
    </div>
    <div class="panel-body">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="ng-if"><br>ngIf</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="hidden-property">Hidden<br> Property</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="ng-switch-case"><br>ngSwitchCase</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="ng-for"><br>ngFor</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="ng-for-and-change-detection">ngFor & <br> change detection</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br><br>        
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="ng-for-and-track-by"><br>ngFor &<br>trackby</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="the-leading-asterisk">The leading<br> asterisk</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="ng-class"><br>ngClass</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="ng-style"><br>ngStyle</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="safe-traversal-operator">safe traversal <br> operator</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br><br>        
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="creating-custom-directives"><br>Creating<br>custome directives</a>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div><br>
    <br>
</div>
<div id="ng-if"></div>
<ng-if></ng-if>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="hidden-property"></div>
<hidden-property></hidden-property>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="ng-switch-case"></div>
<ng-switch-case></ng-switch-case>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="ng-for"></div>
<ng-for></ng-for>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="ng-for-and-change-detection"></div>
<ng-for-and-change-detection></ng-for-and-change-detection>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="ng-for-and-track-by"></div>
<ng-for-and-track-by></ng-for-and-track-by>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="the-leading-asterisk"></div>
<the-leading-asterisk></the-leading-asterisk>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="ng-class"></div>
<ng-class></ng-class>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="ng-style"></div>
<ng-style></ng-style>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="safe-traversal-operator"></div>
<safe-traversal-operator></safe-traversal-operator>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="creating-custom-directives"></div>
<creating-custom-directives></creating-custom-directives>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
