<div id="top"></div>
<br>
<br>
<br>
<div class="jumbotron">
    <h1>Manejo de datos y eventos</h1>
    <p>En esta seccion veremos algunas formas de manejar datos y eventos dentro de Angular.</p>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Conceptos</h1>
    </div>
    <div class="panel-body">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="property-binding">Property Binding</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="attribute-binding">Attribute Binding</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="class-binding">Class Binding</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="style-binding">Style Binding</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="event-binding">Event Binding</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="event-filtering">Event Filtering</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="template-variables">Template
                    Variables</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="two-way-binding">Two-way Binding</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="pipes">Pipes</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="custom-pipes">Custom Pipes</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div><br>
    <br>
</div>
<div id="property-binding"></div>
<property-binding></property-binding>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="attribute-binding"></div>
<attribute-binding></attribute-binding>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="class-binding"></div>
<class-binding></class-binding>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="style-binding"></div>
<style-binding></style-binding>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="event-binding"></div>
<event-binding></event-binding>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="event-filtering"></div>
<event-filtering></event-filtering>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="template-variables"></div>
<template-variables></template-variables>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="two-way-binding"></div>
<two-way-binding></two-way-binding>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="pipes"></div>
<pipes></pipes>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="custom-pipes"></div>
<custom-pipes></custom-pipes>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<br>
