<div id="top"></div>
<br>
<br>
<br>
<div class="jumbotron">
    <h1>Construyendo componentes reutilizables</h1>
    <p>En esta seccion veremos algunas formas de construir componentes dentro de Angular.</p>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Conceptos</h1>
    </div>
    <div class="panel-body">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="component-api"> Component<br> API</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="input-properties"> Input
                    <br>Properties</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="aliasing-input-properties">Aliasing <br>
                    Input Properties</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="output-properties">Output <br>
                    Properties</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="passing-event-data">Passing <br> Event
                    Data</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="aliasing-output-properties">Aliasing
                    <br>Output Properties</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="templates"><br>Templates</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="styles"><br>Styles</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="view-encapsulation">View<br>Encapsulation</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="app-ng-content"><br>ngContent</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="app-ng-container"><br>ngContainer</a>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1"></div>
        </div>
        <br>
    </div>
    <br>
</div>
<div id="component-api"></div>
<component-api></component-api>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<div id="input-properties"></div>
<input-properties [name]="'Juan'" [age]="20"></input-properties>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<div id="aliasing-input-properties"></div>
<aliasing-input-properties></aliasing-input-properties>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<div id="output-properties"></div>
<output-properties [name]="'Juan'" [age]="20" (change)="onOutputPropertyChange()"></output-properties>
<p>Parent Log</p>
<div class="row">
    <div class="alert alert-info" [innerHtml]="log" [style.height]="'70px'" [style.overflow]="'scroll'">
    </div>
</div>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<div id="passing-event-data"></div>
<passing-event-data [isOn]="eventDataActualValue" (change)="onEventDataChange($event)"></passing-event-data>
<h3>Parent data</h3>
<p>
    <br><strong>eventDataActualValue:</strong> {{eventDataActualValue}}
    <br><strong>Button value:</strong> {{ eventDataActualValue ? "ON" : "OFF"  }}
</p>
<br>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<div id="aliasing-output-properties"></div>
<aliasing-output-properties></aliasing-output-properties>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<div id="templates"></div>
<templates></templates>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<div id="styles"></div>
<styles></styles>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<div id="view-encapsulation"></div>
<view-encapsulation></view-encapsulation>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<div id="app-ng-content"></div>
<app-ng-content>
    <div class="p1Heading">Panel 1</div>
    <div class="p1Body">
        <h5>
            Body
        </h5>
        <p>
            Este el el panel 1, dentro del body se esta pasando HTML y no solo texto.
        </p>
    </div>
</app-ng-content>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<div id="app-ng-container"></div>
<app-ng-container>
    <ng-container class="p1Heading">Panel 1</ng-container>
    <ng-container class="p1Body">
        <h5>Body</h5>
        <p>
            Este el el panel 1, dentro del boy se esta pasando HTML y no solo texto.
        </p>
    </ng-container>
</app-ng-container>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<br>