<div id="top"></div>
<br>
<br>
<br>
<div class="jumbotron">
    <h1>Construyendo componentes reutilizables</h1>
    <p>En esta seccion veremos algunas formas de construir componentes dentro de Angular.</p>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Conceptos</h1>
    </div>
    <div class="panel-body">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="property-binding">Property Binding</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="attribute-binding">Attribute Binding</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="class-binding">Class Binding</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="style-binding">Style Binding</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="event-binding">Event Binding</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br><br>
    </div>
    <br>
    <br>
</div>
<div id="property-binding"></div>
<property-binding></property-binding>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<br>
<br>
