<br />
<br />
<br />
<div class="jumbotron">
  <h1>The Leading Asterisk</h1>
  <p>Es es asterisco que esta antes del nombre de las directivas de Angular (ngIf, ngFor, ngSwitchCase)</p>
</div>
<p>
  Cada vez que utilizamos *ngIf, engular convertira ese codigo a un ng-template y le agregara [ngIf] (una propiedad), de eso se trata el Leading Asterisk; Claro que podemos nosotros crear el template con la propiedad [ngIf] en lugar de poner un *ngIf, pero en realidad utlizar las directivas que tiene Leading Asterisk nos facilita la vida.
</p>
<p>
  No entrare en detalle con este tema pero para saber mas informacion pueden ver el siguiente <a href="https://angular.io/guide/structural-directives#the-asterisk--prefix" target="_blank">enlace</a>.
</p>