<div id="top"></div>
<br>
<br>
<br>
<div class="jumbotron">
    <h1>Template-driven Forms</h1>
    <p>En esta seccion veremos como utilizar los templates y forms en Angular.</p>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Conceptos</h1>
    </div>
    <div class="panel-body">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="building-bootstrap-form">Building a<br> Bootstrap form</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="types-of-forms">Types of <br>forms</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="app-ng-model"><br>ngModel</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="adding-validation"><br>Adding validation</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="specific-validation-errors">Specific<br>validation errors</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br><br>
    </div>
</div>
<div id="building-bootstrap-form"></div>
<building-bootstrap-form></building-bootstrap-form>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="types-of-forms"></div>
<types-of-forms></types-of-forms>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="app-ng-model"></div>
<app-ng-model></app-ng-model>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="adding-validation"></div>
<adding-validation></adding-validation>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>
<div id="specific-validation-errors"></div>
<specific-validation-errors></specific-validation-errors>
<a class="btn btn-lg btn-info" [routerLink]="['./']" fragment="top">Volver</a>

<br>
<br>
<br>
<br>
<br>